*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto; }

body {
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  background-color: #FFAC4C;
  color: #2A1600; }

h4, h1, h2, .circle {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0; }

h4 {
  top: 70px; }

h1 {
  top: 105px;
  font-family: 'Changa One', 'Open Sans';
  font-size: 10em; }

h2 {
  top: 300px; }

p {
  font-size: 1.05em;
  line-height: 1.7em; }

header {
  background: #efc047;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VmYzA0NyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmFjNGMiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmZhYzRjIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
  background: -moz-linear-gradient(top, #efc047 0%, #ffac4c 100%, #ffac4c 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #efc047), color-stop(100%, #ffac4c), color-stop(100%, #ffac4c));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #efc047 0%, #ffac4c 100%, #ffac4c 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #efc047 0%, #ffac4c 100%, #ffac4c 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #efc047 0%, #ffac4c 100%, #ffac4c 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #efc047 0%, #ffac4c 100%, #ffac4c 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efc047', endColorstr='#ffac4c',GradientType=0 );
  /* IE6-8 */ }

.leaderboard {
  position: relative;
  width: 90%;
  max-width: 1000px;
  height: 400px;
  text-align: center; }

.circle {
  top: 110px;
  width: 180px;
  height: 180px;
  border-radius: 100%;
  background-color: #D94C00;
  background: #d94c00;
  /* Old browsers */
  background: #d94c00;
  /* Old browsers */
  background: #d94c00;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Q5NGMwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiNTMwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #d94c00 0%, #b53000 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d94c00), color-stop(100%, #b53000));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #d94c00 0%, #b53000 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #d94c00 0%, #b53000 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #d94c00 0%, #b53000 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #d94c00 0%, #b53000 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d94c00', endColorstr='#b53000',GradientType=0 );
  /* IE6-8 */ }

.video-outer {
  background-color: #160b00; }
  .video-outer .video-container {
    padding: 45px 0 45px 0;
    width: 90%;
    max-width: 1000px; }

.caption-wrapper {
  background: #ffac4c;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIzMiUiIHN0b3AtY29sb3I9IiNmZmFjNGMiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZWZjMDQ3IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2VmYzA0NyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(top, #ffac4c 32%, #efc047 100%, #efc047 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(32%, #ffac4c), color-stop(100%, #efc047), color-stop(100%, #efc047));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffac4c 32%, #efc047 100%, #efc047 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffac4c 32%, #efc047 100%, #efc047 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ffac4c 32%, #efc047 100%, #efc047 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #ffac4c 32%, #efc047 100%, #efc047 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffac4c', endColorstr='#efc047',GradientType=0 );
  /* IE6-8 */ }

.caption-outer {
  margin: 0 auto;
  padding-bottom: 80px;
  width: 90%;
  max-width: 1000px; }
  .caption-outer .caption-container {
    margin-top: 30px;
    display: inline-block; }
    .caption-outer .caption-container p {
      margin-top: 10px; }
    .caption-outer .caption-container p:nth-of-type(4n) {
      margin-bottom: 40px; }

.caption {
  margin: 0;
  padding-right: 15px;
  float: left;
  width: 70%; }
  .caption span {
    font-family: 'Changa One', 'Open Sans';
    font-size: 1.3em; }

.source {
  font-family: 'Changa One', 'Open Sans';
  font-weight: bold; }
  .source a {
    color: #D94C00;
    text-decoration: none; }
    .source a:hover {
      text-decoration: underline; }

.poster-container {
  margin-top: 15px;
  display: inline-block;
  width: 30%;
  height: 350px; }
  .poster-container picture {
    float: right; }
  .poster-container p {
    width: 100%;
    font-size: 0.7em;
    float: right;
    text-align: right;
    line-height: 0.5em; }

.clear-float {
  clear: left;
  clear: right; }

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

@media screen and (max-width: 900px) {
  .leaderboard {
    height: 340px; }

  .circle {
    width: 144px;
    height: 144px; }

  h2 {
    top: 266px; }

  p {
    font-size: 0.95em; } }
@media screen and (max-width: 720px) {
  .leaderboard {
    height: 300px; }

  .circle {
    top: 106px;
    width: 116px;
    height: 116px; }

  h1 {
    top: 110px; }

  h2 {
    top: 230px; }

  p {
    font-size: 0.85em; } }
@media screen and (max-width: 500px) {
  .leaderboard {
    height: 270px; }

  h4 {
    top: 60px; }

  .circle {
    top: 94px;
    width: 96px;
    height: 96px; }

  h1 {
    top: 100px; }

  h2 {
    top: 200px;
    font-size: 1.4em; }

  p {
    font-size: 0.75em; }

  .poster-container p {
    font-size: 0.6em; } }
@media screen and (max-width: 400px) {
  .leaderboard {
    height: 260px; }

  .circle {
    top: 94px;
    width: 84px;
    height: 84px; }

  h2 {
    top: 185px;
    font-size: 1.3em; } }

/*# sourceMappingURL=main.css.map */
